@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }
  
  .rotateX-60 {
    transform: rotateX(60deg);
  }
}

/* Modal styles */
.modal-open {
  overflow: hidden;
}

/* Add stacking context */
#root {
  isolation: isolate;
}